---
interface Props {
  title: string;
  subTitle: string;
  acces1: string;
  acces2: string;
  forumUrl: string;
  forumImage: any;
}

const { title, subTitle, acces1, acces2, forumUrl, forumImage } = Astro.props;
---

<div class="h-full relative flex flex-col space-y-2">
  <div
    class="h-full w-full bg-complementary p-2 overflow-hidden hover:brightness-110 transition-all"
  >
    <a href={`${forumUrl}`}>
      <img src={forumImage} alt="Portada de Foro" />
    </a>
  </div>

  <!-- Titulo del Foro sobreposicionado -->
  <div
    class="absolute w-full bottom-14 flex flex-col items-center pt-2 pb-3 bg-primary bg-opacity-80"
  >
    <span class="uppercase text-text font-bold text-5xl">{title}</span>
    <span class="block px-5 bg-accent text-sm">{subTitle}</span>
  </div>

  <!-- Accesos Directos a Sub-Foros -->
  <div class="flex flex-row justify-between space-x-2 font-bold text-primary">
    <a href="" class="block bg-complementary w-full p-1 text-center rounded-sm"
      ><span>{acces1}</span></a
    >

    <a href="" class="block bg-complementary w-full p-1 text-center rounded-sm">
      <span>{acces2}</span></a
    >
  </div>
</div>
